* {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", "Roboto", "Helvetica", "Arial", sans-serif !important;
  /* font-weight: 500; */
}

button {
  border: none;
  background-color: transparent;
}

#webpack-dev-server-client-overlay-div {
  display: none !important;
}
